doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    form(method="get", action="/classrooms")
      input(type="submit" value="Classrooms")
    
