extends layout

block content

  h1= dataPass["name"]
  p  Scores:
    h5= dataPass["scores"]
  p Letter Grade:
    h5= dataPass["grade"]
    form(method="post" action="")
      input(type="text", name="text", placeholder="Enter grade here...")
      input(type="submit" value="Post Grade")
